<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Red Ciudadana" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />

	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="/css/colors.php?color=F9BE79" type="text/css" />

	<!-- Forum Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/demos/forum/forum.css" type="text/css" /> <!-- Forum Custom Css -->
	<link rel="stylesheet" href="/demos/forum/css/fonts.css" type="text/css" /> <!-- Forum Custom Fonts -->
	<!-- / -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    {% block head %}
    {% endblock %}

</head>

<body class="stretched search-overlay">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header header-size-md" data-mobile-sticky="true">
			<div id="header-wrap">
				<div class="container">				
					<div class="header-row justify-content-lg-between">

						<!-- Logo
						============================================= -->
						<div id="logo">
							<a href="/index.html" class="standard-logo"><img style="padding:5%" src="/elementos/ELEMENTOS/LOGOTIPO/LAB-ELECTORAL_03.png" alt="Canvas Logo"></a>
							<a href="/index.html" class="retina-logo"><img style="padding:5%" src="/elementos/ELEMENTOS/LOGOTIPO/LAB-ELECTORAL_02.png" alt="Canvas Logo"></a>
						</div><!-- #logo end -->


						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu">


							<ul class="menu-container">
								<!--li class="menu-item "><a class="menu-link" href="/explicativos/index.html"><div>Explicativos</div></a></li>
								<li class="menu-item "><a class="menu-link" href="/iniciativas/index.html"><div>Iniciativas</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/publicaciones/index.html"><div>Publicaciones</div></a></li>
								<li class="menu-item"><a class="menu-link" target="_blank" href="https://datoselectorales.redciudadana.org/"><div>Datos</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/contacto/index.html"><div></div>Contacto</a></li-->
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		{% block content %}
        {% endblock %} 

		<!-- Footer
		============================================= -->

		<div id="footer" class=" text-white py-4 padding-footer margin-top-35" style="background-color: #00263B">
			<div class="container first" >
			
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12">
						<img src="/elementos/ELEMENTOS/LOGOTIPO/LAB-ELECTORAL_02.png" style="width:15%;margin-bottom:20px">
					</div>
					
				</div>
			
			<div class="row" >
				
				<div class="col-12 col-sm-6 col-md-4">
				<h4 class="text-white font-weight-bold mar1010 text-left"> ¿Te gusta lo que hacemos?</h4>
				<ul class="list-unstyled">
					<li>
					<a class="text-white" href="http://donacion.redciudadana.org/" target="_blank" rel="noopener">
						<i class="fa fa-heart"></i> Donaciones
					</a>
					</li>
					<li>
					<a class="text-white" href="http://voluntarios.redciudadana.org/" target="_blank" rel="noopener">
						<i class="fa fa-users"></i> Voluntariado
					</a>
					</li>
				</ul>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4 order-md-3">
				<h4 class="text-white font-weight-bold mar1010 text-left" >Contáctanos:</h4>
				<ul class="list-unstyled">
					<li>
					<a class="text-white" href="mailto:info@redciudadana.org.gt" target="_blank" rel="noopener">
						<i class="fa fa-envelope"></i> info@redciudadana.org.gt
					</a>
					</li>
					<li>
					<a class="text-white" href="info@redciudadana.org.gt" target="_blank" rel="noopener">
						<i class="fa fa-map-marker"></i> Guatemala, Guatemala
					</a>
					</li>
				</ul>
				</div>
				
				<div class="col-12 follow col-md-4">
				<h4 class="text-white font-weight-bold mar1010 text-left">Síguenos en:</h4>
				<div class="d-flex">
					<a href="https://www.facebook.com/Redciudadanagt" class="nav-link-social text-white" target="_blank"><i class="fab fa-facebook pad0100 ft30" aria-hidden="true"></i></a>
					<a href="https://twitter.com/RedxGuate" class="nav-link-social text-white" target="_blank"><i class="fab fa-twitter pad0100 ft30" aria-hidden="true"></i></a>
					<a href="https://www.instagram.com/redxguate" class="nav-link-social text-white" target="_blank"><i class="fab fa-instagram pad0100 ft30" aria-hidden="true" ></i></a>
				</div>
				</div>
			</div>
			</div>
		</div>

		<div id="red-footer" class="padT05 padding-footer py-3" >
			<div class="container py-2">
			<div class="row">
				
				<div class="col-12 col-md-8 d-flex pb-1 pb-md-0">
				<div>
					<a href="http://redciudadana.org/" target="_blank" rel="noopener">
					<img src="https://d33wubrfki0l68.cloudfront.net/69cf2a5d698d1c4d2e0a0cf938a898b63223baa0/e40d9/assets/mi-guatemala/img/logo-rc-color.png" alt="Logo de Red Ciudanana" height="60" >
					</a>
				</div>
				<p class="my-auto" style="margin:auto;margin-left:5px!important" >Un proyecto de Asociación Civil Red Ciudadana   </p>
				</div>

				<div class="col-12 col-md-4 d-flex cc-icons text-left align-self-center">
				<a href="https://creativecommons.org/licenses/by-sa/3.0/gt/" target="_blank" rel="noopener" class="ml-0">
					<img src="https://d33wubrfki0l68.cloudfront.net/02e9656bbb7fb69dc55f5e9f1bca4f1bb22d7487/711dc/assets/mi-guatemala/img/icon-cc-cc.png" alt="Creative Commons" class="tam45 text-white"> 
					<img src="https://d33wubrfki0l68.cloudfront.net/380c442b70ec26ba5928ea729be60e30df5f1d49/ca34f/assets/mi-guatemala/img/icon-cc-by.png" alt="Creative Commons - Atribución" class="tam45 text-white">
					<img src="https://d33wubrfki0l68.cloudfront.net/2210ff0cd01e97d580f36341c05b53020848bf53/dd25e/assets/mi-guatemala/img/icon-cc-sa.png" alt="Creative Commons - Compartir Igual" class="tam45 text-white">
				</a>
				</div>
			</div>
			</div>
		</div>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.min.js"></script>

	<!-- TinyMCE Plugin -->
	<script src="/js/components/tinymce/tinymce.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<script>
		jQuery(document).ready( function(){

			$('input[type="file"]').change(function(e){
				var fileName = e.target.files[0].name;
				$('.custom-file-label').html(fileName);
			});

			tinymce.init({
				selector: '#post-message',
				menubar: false,
				setup: function(editor) {
					editor.on('change', function(e) {
						editor.save();
					});
				}
			});

			$(function(){
		      if(window.location.hash) {
		          var hash = window.location.hash;
		          $(hash).modal('toggle');
		      }
		  });
		});
	</script>

	<script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    {% block body_javascripts %}

    {% endblock %}

	</body>
</html>
